! Screen
Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: true
Xft.hintstyle: hintfull
Xft.lcdfilter: lcdfilter

! Colors
*.foreground:   #eceff1
*.background:   #242e33
*.cursorColor:  #cdf8dc

!! black
*.color0:       #1d2529
*.color8:       #12171a

!! red
*.color1:       #f21d41
*.color9:       #cc0f2f

!! green
*.color2:       #88f719
*.color10:      #69bf13

!! yellow
*.color3:       #ffc107
*.color11:      #f29800

!! blue
*.color4:       #00d4ff
*.color12:      #00a8e0

!! magenta
*.color5:       #9000ff
*.color13:      #8416d9

!! cyan
*.color6:       #26a69a
*.color14:      #009688

!! white
*.color7:       #cfd8dc
*.color15:      #eceff1

! XTerm
XTerm.vt100.faceName: Hack:size=11

! URxvt
urxvt.depth: 32
urxvt.background: [80]#22282d

urxvt.font: xft:Hack:size=11
urxvt.letterSpace: 0
urxvt.lineSpace: 0
urxvt.geometry: 80x24
!urxvt.internalBorder: 24
urxvt.cursorBlink: true
urxvt.cursorUnderline: false
urxvt.saveline: 2048
urxvt.scrollBar: false
urxvt.scrollBar_right: false

!! Keybinds
urxvt.keysym.Shift-Up: command:\033]720;1\007
urxvt.keysym.Shift-Down: command:\033]721;1\007
urxvt.keysym.Control-Up: \033[1;5A
urxvt.keysym.Control-Down: \033[1;5B
urxvt.keysym.Control-Right: \033[1;5C
urxvt.keysym.Control-Left: \033[1;5D

!! Extensions
!urxvt.perl-ext-common: default,clipboard,url-select,keyboard-select
URxvt.clipboard.autocopy: true
urxvt.copyCommand: xclip -i -selection clipboard
urxvt.pasteCommand: xclip -o -selection clipboard
urxvt.keysym.M-c: perl:clipboard:copy
urxvt.keysym.M-v: perl:clipboard:paste
urxvt.keysym.M-C-v: perl:clipboard:paste_escaped
urxvt.keysym.M-Escape: perl:keyboard-select:activate
urxvt.keysym.M-s: perl:keyboard-select:search
urxvt.keysym.M-u: perl:url-select:select_next
urxvt.urlLauncher: chromium 
urxvt.underlineURLs: true
urxvt.urlButton: 1

