# auto color
alias ls='ls --color=auto'
alias grep='grep --colour=auto'
alias egrep='egrep --colour=auto'
alias fgrep='fgrep --colour=auto'
alias diff='colordiff'

# nvim
alias vim='nvim'
alias vimdiff='nvim -d'

# x clipboard
alias "c=xclip -selection clipboard"
alias "v=xclip -o"

# fzf
prev="bat --style=numbers --color=always --line-range :500 {}"
alias 'f=rg -i --files | fzf --preview "$prev"' # default
alias "fh=rg -iuu -g '!.git/**' -g '!.cache/**' --files | fzf --preview '$prev'" # hidden and ignored
alias 'ft=rg -i -t md -t txt --files | fzf --preview "$prev"' # markdown and text

# 7z
alias "7zcrypt=7z a -t7z -m0=lzma2 -mx=9 -mfb=64 -md=32m -ms=on -mhe=on -p"

# show current MPD song
alias 'mpcc=notify-send "Now playing" "`mpc current`"'
