[submodule "setup"]
	path = setup
	url = https://github.com/danisztls/dotfiles-setup
[submodule "shell/private"]
	path = shell/private
	url = https://github.com/danisztls/dotfiles-private
[submodule "private"]
	path = private
	url = git@github.com:danisztls/dotfiles-private.git
