[submodule "shell/bin/git-tools"]
	path = shell/bin/git-tools
	url = https://github.com/danisztls/git-tools
[submodule "setup"]
	path = setup
	url = https://github.com/danisztls/dotfiles-setup
[submodule "shell/private"]
	path = shell/private
	url = https://github.com/danisztls/dotfiles-private
