[Unit]
Description=Ferdium
After=default.target

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=ferdium
ExecStop=/usr/bin/killall -s 15 ferdium

[Install]
WantedBy=graphical-session.target
