[Unit]
Description=Variety
After=default.target

[Service]
Type=simple
ExecStart=/usr/bin/variety
ExecStop=/usr/bin/killall variety

[Install]
WantedBy=graphical-session.target
