[Unit]
Description=WeeChat under Tmux
After=network.target

[Service]
Type=forking
RemainAfterExit=yes
ExecStart=/usr/bin/tmux -L weechat new -d weechat \; set-option status off
ExecStop=/usr/bin/killall -s 15 weechat; /usr/bin/tmux -L weechat kill-session

[Install]
WantedBy=graphical-session.target
