[Unit]
Description=Yarr
After=network.target

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=yarr
ExecStop=/usr/bin/killall -s 15 yarr 
Restart = always
RestartSec = 5

[Install]
WantedBy=default.target
