[Unit]
Description=Yarr under Tmux
After=network.target

[Service]
Type=forking
RemainAfterExit=yes
ExecStart=/usr/bin/tmux -L yarr new -d yarr \; set-option status off
ExecStop=/usr/bin/killall -s 15 yarr; /usr/bin/tmux -L yarr kill-session

[Install]
WantedBy=graphical-session.target
