[Unit]
Description=Yarr
Description=yet another rss reader
After=network.target

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=yarr
ExecStop=/usr/bin/killall -s 15 yarr
Restart = always
RestartSec = 1

[Install]
WantedBy=default.target
